.containal {
    position: absolute;
    z-index: -1000;
    width: 100%;
    height: calc(100vh - 57px);
    background: rgb(4, 91, 247);
    background: linear-gradient(90deg, rgba(4, 91, 247, 1) 0%, rgba(48, 166, 210, 0.9587185215883228) 100%);
}
a{
    text-decoration: none;
}
.hei{
    height: calc(100vh - 65px);
}
/* @media screen and (max-width : 576px) {
    .fpgrou{
        height: 50%;
    }
} */
